<div class="background-blur"></div>

<div class="hero">
  <div class="value">
    <div class="valueHeading">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt, aperiam!
    </div>
    <div class="valueSubHead">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam, officiis
      beatae. Delectus aliquid sapiente voluptates quidem iusto sunt provident
      exercitationem!
    </div>
    <div class="cta">
      <button>Contact Now</button>
      <button>Buy Now</button>
    </div>
  </div>
</div>
